[Unit]
Description=Restic maintenance

[Service]
Type=oneshot
ExecStart=/home/zarino/backups/pop/maintain.sh
SuccessExitStatus=1 2
StandardOutput=journal
StandardError=journal
